@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 3vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.label-title {
  padding-right: 2vw;
}

.main {
  height: max-content;
}

.input-field {
  padding: 10px;
  border-width: thin;
  min-height: 2vh;
}

.border-8{
  border-radius: 8px;
  border-color: darkgrey;

}

.submit-btn {
  margin: 2vh;
  display: inline-block;
}

.justify-center {
  justify-content: center !important;
}

.width-44 {
  width: 44vw;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.margin-btm {
  margin-bottom: 12px;
}

.footer{
  position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
    height: 10vh;
    overflow-x: hidden;
}

button {
  background-color:#3c487d;
  color: white;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  border-radius: 19px;
  border-width: 0;
  border-color: #3c487d;
/* font-family: 'Roboto', sans-serif; */
}
button:hover {
  cursor: pointer;
  background-color : #515f9b
}

.link-fonts {
  color: white;
  font-size: 2.5vh;
  padding-right: 8px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon-class {
  margin-top : 12px;
  font-size: xx-large; 
}


@media only screen and (max-width: 600px) {

  .flex {
    display: flex;
    flex-direction: column;
  }  
  .flex-prop {
    align-items: center;
    justify-content: center;
    align-content: center;

  }
  .flex-prop-main {
    justify-content: center;
    
  }
  .min-height-header {
    min-height: 16vh;
  }
  .padding-top {
    padding-top: 20%;
  }

  .font-size {
    font-size: small;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .min-height-header{
    min-height: 14vh;
  }
  .flex {
    display: flex;
    flex-direction: row;
  }
  .flex-prop {
    align-items: center;
    justify-content: start;
    align-content: center;

  }
  .flex-prop-main {
    justify-content: center;
    
  }
  .padding-left-header {
    padding-left: 3vw;
  }
  .padding-top {
    padding-top: 20%;
  }
  .font-size {
    font-size: small;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .min-height-header{
    min-height: 14vh;
  }
  .flex {
    display: flex;
    flex-direction: row;
  }
  .flex-prop {
    align-items: center;
    justify-content: start;
    align-content: center;

  }
  .flex-prop-main {
    justify-content: center;
    
  }
  .padding-left-header {
    padding-left: 3vw;
  }
  .padding-top {
    padding-top: 20%;
  }
  .font-size {
    font-size: medium;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .min-height-header {
    min-height: 14vh;
  }
  .flex {
    display: flex;
    flex-direction: row;
    
  }
  .flex-prop {
    align-items: center;
    justify-content: start;
    align-content: center;

  }
  .flex-prop-main {
    justify-content: center;
    
  }
  .padding-left-header {
    padding-left: 3vw;
  }
  .padding-top {
    padding-top: 10%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .min-height-header {
    min-height: 14vh;
  }
  .flex {
    display: flex;
    flex-direction: row;
  }
  .flex-prop {
    align-items: center;
    justify-content: start;
    align-content: center;
  }

  .flex-prop-main {
    justify-content: center;
  }
  .padding-left-header {
    padding-left: 4vw;
  }
  .padding-top {
    padding-top: 10%;
  }
}